# https://www.theaudiodb.com/api_guide.php
THEAUDIODB_API_KEY=2


# Host to use for API requests
# APP_API_URL=http://localhost:3100

APP_API_URL="http://localhost:3100"
APP_HOSTNAME="http://localhost:3000"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="root"
POSTGRES_HOST="127.0.0.1"
WEB_PORT=3100
